.fieldElement {
	width: 1em;
	height: 1em;
	min-width: 1em;
	max-width: 1em;
	min-height: 1em;
	max-height: 1em;
	border: 1px solid black;
	font-family: monospace;
	text-align: center;
}
.flag {
	color: darkred;
}
.mark {
	color: darkblue;
}
.boom {
	color: red;
	background: black;
}
.dim {
	color: #bbb;
}
.number {
	color: #666;
}
.fieldRow {
	display: flex;
}

@media screen and (min-width: 35em) {
	#field {
		font-size: 200%;
		margin: auto;
	}
}

@media screen and (min-width: 48em) {
	#field {
		font-size: 220%;
	}
}

#field {
	padding-top: 1em;
	cursor: pointer;
}
#location {
	font-family: monospace;
}
#menu {
	border: 1px solid black;
	width: max-content;
	height: max-content;
	margin-top: 1em;
}
ul {
	display: flex;
	padding-left: 0;
	margin: 0;
	cursor: pointer;
}
li:hover {
	background: #ccc;
}
li {
	font-size: 200%;
	list-style: none;
	padding: 1em;
}
li.active {
	background: #28d;
}

.container {
	margin: auto;
	max-width: 65em;
	padding-top: 2em;
	padding-left: 1em;
	padding-right: 1em;
}