#field {
	border: 1px solid black;
	margin-top: 1em;
	cursor: pointer;
}

#location {
	font-family: monospace;
	padding: 1em;
}

.notify {
	background: #aaa;
}

.container {
	margin: auto;
	max-width: 80em;
	padding-top: 2em;
	padding-left: 1em;
	padding-right: 1em;
}

dt {
	padding-top: 1em;
}